@font-face {
  font-family: "spfpro";
  src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
}
img {
  height: 3%;
  width: 3%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

body {
  background: #ffffff;
  font-family: spfpro, sans-serif;
  text-transform: capitalize;
  color: #0d0d0d;
}
body:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(240, 174, 51, 0.2666666667);
  animation: animBefore 1.5s ease forwards;
  animation-delay: 0.15s;
}
@keyframes animBefore {
  to {
    opacity: 0;
  }
}

nav {
  height: 96px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  animation-name: gradient;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
nav .logo {
  display: flex;
}
nav .logo img {
  height: 40px;
  width: 40px;
  border-radius: 15px;
}
nav .logo li {
  font-weight: bolder;
  letter-spacing: 0.4px;
  padding-right: 10px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
nav .right-nav {
  display: flex;
  align-items: center;
}
@media (max-width: 1402px) {
  nav .right-nav {
    display: none;
  }
}
nav .right-nav li {
  display: flex;
  padding: 20px;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  color: antiquewhite;
}
nav .right-nav button {
  border-radius: 4px;
  color: black;
  font-weight: 600;
  text-align: center;
  border: 1px solid gray;
  cursor: pointer;
  border-radius: 15px;
  background-color: rgba(128, 128, 128, 0.067);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 62px;
  font-size: 1.1rem;
}
nav .right-nav button img {
  width: auto;
  height: auto;
  padding-right: 10px;
}
nav .right-nav button span {
  padding-top: 5px;
}

header {
  padding: 110px;
  min-height: 500px;
  width: 70%;
  margin: 0 auto;
}
header .text-header {
  margin-bottom: 40px;
}
header .text-header h1 {
  font-size: 96px;
  text-transform: none;
  font-weight: bolder;
  letter-spacing: normal;
  text-align: left;
}
@media (max-width: 542px) {
  header .text-header h1 {
    font-size: 3rem;
    text-align: center;
    padding: 0;
  }
}
header .buttons {
  display: flex;
  align-items: center;
}
header .buttons button {
  border-radius: 4px;
  color: black;
  font-weight: 600;
  text-align: center;
  border: 1px solid gray;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 15px;
  background-color: black;
  color: white;
  text-transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 62px;
  width: 225px;
  font-size: 1.1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-right: 15px;
}
header .buttons button img {
  width: auto;
  height: auto;
  padding-right: 10px;
}
header .buttons button span {
  padding-top: 5px;
}
header .buttons img {
  height: 55px;
  width: 225px;
}
@media (max-width: 542px) {
  header .buttons img {
    display: none;
  }
}

.section1 {
  background: url(/assets/img/peakpx.jpg) center/cover;
  border-radius: 30px;
  min-height: 713px;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: -1;
}
.section1 .menu {
  display: flex;
  justify-content: space-between;
}
.section1 .menu .apple {
  width: 30px;
  height: 20px;
}
.section1 .menu .apple img {
  width: auto;
  height: auto;
  background: rgba(0, 0, 0, 0.3215686275);
  padding: 15px;
  border-radius: 50%;
}
.section1 .menu .right-menu {
  background: rgba(0, 0, 0, 0.3215686275);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  height: 50px;
  width: 230px;
  color: white;
}
.section1 .menu .right-menu img {
  width: 25px;
  height: 25px;
}
.section1 .dark-menu {
  background: rgba(51, 51, 51, 0.6039215686);
  width: 290px;
  height: 423px;
  position: absolute;
  top: 160px;
  bottom: 132px;
  left: 30px;
  border-radius: 20px;
}
.section1 .dark-menu img {
  height: 40px;
  width: 40px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.2588235294);
  display: flex;
  justify-content: center;
  padding: 7px;
}
.section1 .dark-menu .header-calendar {
  background: rgba(0, 0, 0, 0.3019607843);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 10px 10px 0 10px;
  color: white;
}
.section1 .dark-menu .header-calendar .gray-1 {
  display: grid;
  grid-template-columns: 65% 35%;
  align-items: center;
  height: 60px;
  padding: 15px;
}
.section1 .dark-menu .header-calendar .gray-1 .heart {
  display: flex;
  align-items: center;
}
.section1 .dark-menu .header-calendar .gray-1 .heart img {
  margin-right: 5px;
}
.section1 .dark-menu .header-calendar .gray-1 .time {
  background: #03a6f1;
  border-radius: 35px;
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 14px;
}
.section1 .dark-menu .header-calendar .gray-1 .time img {
  background: none;
  height: 30px;
  width: 30px;
}
.section1 .dark-menu .header-calendar .calendar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}
.section1 .dark-menu .header-calendar .calendar .div1 {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
}
.section1 .dark-menu .header-calendar .calendar .div1 .days {
  display: flex;
  flex-direction: column;
}
.section1 .dark-menu .header-calendar .calendar .div1 .days .date2 {
  color: gray;
}
.section1 .dark-menu .header-calendar .calendar .div1 div {
  display: flex;
  justify-content: flex-end;
}
.section1 .dark-menu .header-calendar .calendar .div1 .hours {
  width: -moz-max-content;
  width: max-content;
  background: rgba(0, 0, 0, 0.2588235294);
  padding: 10px;
  border-radius: 35px;
}
.section1 .dark-menu .footer-menu {
  background: rgba(0, 0, 0, 0.1176470588);
  margin: 0 10px 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #fff;
}
.section1 .dark-menu .footer-menu img {
  border-radius: 10px;
  height: 35px;
  width: 35px;
}
.section1 .dark-menu .footer-menu .smarthome {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  justify-content: space-between;
}
.section1 .dark-menu .footer-menu .relocation {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  justify-content: space-between;
}
.section1 .dark-menu .footer-card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.section1 .dark-menu .footer-card img {
  height: 30px;
  width: 30px;
}
.section1 .light-menu {
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  top: 105px;
  left: 968px;
  position: absolute;
  width: 280px;
  height: 281px;
  border-radius: 20px;
  padding: 20px;
}
@media (max-width: 1402px) {
  .section1 .light-menu {
    display: none;
  }
}
.section1 .light-menu img {
  height: 25px;
  width: 25px;
}
.section1 .light-menu .first-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.section1 .light-menu .first-menu::after {
  content: "";
  background-color: rgba(128, 128, 128, 0.303);
  height: 1px;
  margin-top: 10px;
}
.section1 .light-menu .div1 {
  display: grid;
  grid-template-columns: 15% 45% 15% 20%;
  align-items: center;
}
.section1 .light-menu .div2 {
  display: grid;
  grid-template-columns: 15% 60% 25%;
  align-items: center;
}
.section1 .light-menu .div3 {
  display: flex;
  align-items: center;
}
.section1 .light-menu .div3 img {
  margin-right: 10px;
}
.section1 .light-menu .second-menu {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}
.section1 .light-menu .second-menu::after {
  content: "";
  background-color: rgba(128, 128, 128, 0.303);
  height: 1px;
  margin-top: 5px;
}
.section1 .light-menu .second-menu li {
  display: grid;
  grid-template-columns: 15% 85%;
  align-items: center;
}
.section1 .light-menu .footer-menu {
  display: grid;
  grid-template-columns: 15% 85%;
  align-items: center;
  margin-top: 5px;
}
.section1 .light-menu .footer-menu img {
  height: 20px;
  width: 20px;
}
.section1 .menu3 {
  background: rgba(0, 0, 0, 0.1176470588);
  border-radius: 15px;
  width: 25%;
  top: 85%;
  left: 50%;
  height: 75px;
  transform: translate(-50%);
  position: absolute;
  padding: 10px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
  row-gap: 2px;
  -moz-column-gap: 2px;
       column-gap: 2px;
}
.section1 .menu3 .div-vide {
  border-radius: 15px;
  background: rgba(80, 79, 79, 0.274);
}
.section1 .menu3 .div-vide:last-child {
  background: url(/assets/img/icons8-soda-48.png) center/cover;
}

.section2 {
  max-width: 60%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 20px;
}
@media (max-width: 949px) {
  .section2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.section2 img {
  height: 70px;
  width: 70px;
}
.section2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
  text-align: center;
  font-weight: 900;
  line-height: 1.2em;
  word-break: break-word;
  gap: 12px;
  width: 190px;
}
.section2 div span {
  text-transform: none;
}
.section2 .div2 .footer-card {
  position: relative;
}
.section2 .div2 .footer-card img {
  position: absolute;
  top: 25px;
  width: 180px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
  margin: 20px auto;
}
footer button {
  border-radius: 4px;
  color: black;
  font-weight: 600;
  text-align: center;
  border: 1px solid gray;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 15px;
  background-color: black;
  color: white;
  text-transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 62px;
  width: 225px;
  font-size: 1.1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-right: 15px;
  margin-bottom: 78px;
}
footer button img {
  width: auto;
  height: auto;
  padding-right: 10px;
}
footer button span {
  padding-top: 5px;
}
footer h2 {
  font-size: 20px;
  color: rgb(107, 103, 103);
  margin-bottom: 10px;
  text-transform: none;
}
footer p {
  font-size: 16px;
  font-weight: 600;
  color: rgb(158, 154, 154);
}/*# sourceMappingURL=index.css.map */