.section2 {
  max-width: 60%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 20px;

  @media (max-width: 949px) {
    display: grid;
    grid-template-columns: repeat(2,1fr);
   }
  @media (max-width: 523px) {
    display: flex;
    flex-direction: column;
    align-items: center;
   }

  img {
    height: 70px;
    width: 70px;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
    text-align: center;
    font-weight: 900;
    line-height: 1.2em;    
    word-break: break-word;
    gap:12px;
    width: 190px;
    
   span{
    text-transform: none;
   }
  }

  .div2 {
    .footer-card {
      position: relative;
      img {
        position: absolute;
        top:25px;
        width: 180px;
        z-index: -1;
      }
    }
  }
}
